*DS_Store*
*.log
*.cache
confdefs.h
config.h
conftest*
Makefile
*.status
*/*deps/*.*o
stamp-*
*.o
lib/lib*.a
*(Autosaved)*
*~
*.tar.gz
po/remove-potcdate.sed
conf*/*.awk
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
tmpwrk*/*
*.dSYM
.env.local
